In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
1/2.0

0.5

In [7]:
2**4

16

In [8]:
2 + 3 * 5 + 5

22

In [9]:
(2+3)*(5+5)

50

In [10]:
2%3

2

In [11]:
4%2

0

In [12]:
4%3

1

In [13]:
var = 2

In [14]:
var

2

In [15]:
x=2
y=3

In [16]:
x+y

5

In [17]:
x=1

In [18]:
x=x+x

In [19]:
x

2

In [20]:
x=x+x

In [21]:
x

4

# Strings

In [23]:
'single quotes'

'single quotes'

In [24]:
"this is a string"

'this is a string'

In [25]:
"this is 'Sid'"

"this is 'Sid'"

In [26]:
"I can't go"

"I can't go"

In [27]:
x = 'hello'

In [28]:
x

'hello'

In [29]:
print(x)

hello

In [30]:
y='world'

In [32]:
print(x+' '+y)

hello world

In [38]:
num = 12
name = 'Sam'

In [40]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 12 and my name is Sam, more 12

In [50]:
s = 'abcdefghjik'

In [51]:
print(s[1])

b

In [52]:
print(s[0])

a

In [53]:
s[0]

'a'

In [54]:
print(s[1:3])

bc

In [58]:
print(s[:4])

abcd

In [59]:
print(s[3:6])

def

In [60]:
[1,2,3]

[1, 2, 3]

In [61]:
['a','b','c']

['a', 'b', 'c']

In [62]:
myList = ['a','b','c']

In [63]:
myList.append('d')

In [64]:
myList

['a', 'b', 'c', 'd']

In [69]:
myList.append('e')

In [70]:
myList

['a', 'b', 'c', 'd', 'e']

In [71]:
myList[0]='f'

In [72]:
myList

['f', 'b', 'c', 'd', 'e']

In [73]:
myList.remove('e')

In [74]:
myList

['f', 'b', 'c', 'd']

In [78]:
nest=[1,2,[3,4,['target']]]

In [80]:
print(nest[2][2][0])

target

In [81]:
d = {'key1':'value','key2':123}

In [82]:
d['key1']

'value'

In [83]:
d['key2']

123

In [84]:
print(d['key1'])

value

In [85]:
d={'key':[1,2,3]}

In [88]:
print(d['key'][1])

2

In [89]:
t=(1,2,3)

In [90]:
t[0]

1

In [91]:
myList[0]='New'

In [92]:
myList

['New', 'b', 'c', 'd']

In [94]:
t[0]

1

In [95]:
{1,2,3}

{1, 2, 3}

In [96]:
[1,1,2,2,3,4,3,3]

[1, 1, 2, 2, 3, 4, 3, 3]

In [97]:
{1,2,3,4,3,3,2,1,2}

{1, 2, 3, 4}

In [98]:
set([1,1,1,1,2,2,2,2,3,3,3,3,4,4,5])

{1, 2, 3, 4, 5}

In [99]:
s = {1,2,3}

In [100]:
s.add(5)

In [101]:
s

{1, 2, 3, 5}

In [102]:
s.add(5)

In [103]:
s

{1, 2, 3, 5}

In [104]:
1==1

True

In [105]:
1!=3

True

In [106]:
'H1'=='Hi'

False

In [107]:
1<2

True

In [112]:
1<2 or 2>3

True

In [114]:
if 1<2:
    print('HAHAHHAAAHAA')

HAHAHHAAAHAA

In [118]:
if 1!=2:
    print('First')
elif 3==3:
    print('Middle')
else:
    print('Last')

First

In [1]:
seq=[1,2,3,4,5]

In [7]:
for i in seq:
    print(i)

1
2
3
4
5

In [9]:
i=1
while i<5:
    print('i is: {}'.format(i))
    i+=1

i is: 1
i is: 2
i is: 3
i is: 4

In [11]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Comprehension

In [18]:
x=[1,2,3,4]

In [20]:
out=[]

for num in x:
    out.append(num**2)

In [21]:
print(out)

[1, 4, 9, 16]

In [23]:
out = [num**2 for num in x]

In [24]:
print(out)

[1, 4, 9, 16]

In [34]:
def myFunct(name='Default name'):
    print('Hello '+name)

In [37]:
myFunct('sid')

Hello sid

In [38]:
range(0,10,2)

range(0, 10, 2)

In [40]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [58]:
t=lambda var:var*2

In [59]:
t(6)

12

In [54]:
times2(10)

20

In [43]:
# map()

In [44]:
seq = [1,2,3,4,5]

In [60]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [62]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

In [63]:
s= 'Hello my name is Sid'

In [71]:
s.split()

['Hello', 'my', 'name', 'is', 'Sid']

In [72]:
tweet = 'Go sports! #Sports'

In [74]:
tweet.split('#')[1]

'Sports'

In [75]:
d={'k1':1,'k2':2}

In [76]:
d.keys()

dict_keys(['k1', 'k2'])

In [77]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [78]:
d.values()

dict_values([1, 2])

In [79]:
lst=[1,2,3]

In [80]:
lst.pop()

3

In [81]:
lst

[1, 2]

In [82]:
lst.append(4)

In [83]:
lst

[1, 2, 4]

In [84]:
lst =[1,2,3,4,5]

In [92]:
item = lst.pop(0)

In [93]:
lst

[2, 3]

In [94]:
item

1

In [97]:
'x' in ['x','y','z']

True

# Tuple UnPacking

In [98]:
x=[(1,2),(3,4),(5,6)]

In [103]:
for a,b in x:
    print(b)

2
4
6